<form class="mb-3" method="get" action="/position">
  <div class ="row search-row">
    <input type="text" class="form-control search-input" id="exampleInputIconLeft" name ="search" placeholder="Search" aria-label="Search" value="search">
    <input type="submit" value="Search" class="btn btn-secondary search-btn">
  </div>
</form>