<%- include('../partials/header'); %>
<div class="sidebar-side">
    <%- include('../partials/sidebar'); %>
</div>
<div class="contant-side">
    <div class="navbar-div ">
        <%- include('../partials/navbar'); %>
    </div>
    <div class="show-div">
        <%- include('./traineesTable.ejs'); %>
    </div>

</div>

