<%- include('./landingPage-NavBar.ejs'); %>
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full"id='aboutImag' style="background-image: url('https://c0.wallpaperflare.com/preview/506/555/733/career-leadership-success-businessman.jpg')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4"id='talentoLogo' src="/images/talento-removebg-preview.png" alt="..." />
        <h1 class="text-white fs-3 fw-bolder">Full Width Pics</h1>
        <p class="text-white-50 mb-0">Landing Page Template</p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Talent Management</h2>
                <p class="lead">At Telnto, we are passionate about connecting students and fresh graduates with top IT companies in the industry. Our platform was created with the mission of providing a direct gateway to the best job opportunities and training programs available, helping individuals achieve their career goals and reach their full potential</p>
                <p class="mb-0 lead">Our platform was created with the mission of providing a direct gateway to the best job opportunities and training programs available, helping individuals achieve their career goals and reach their full potential</p>
            </div>
        </div>
    </div>
</section>
<div class="py-5 bg-image-full"id='aboutImag' style="background-image: url('https://c0.wallpaperflare.com/preview/956/909/290/business-office-computer-flatlay.jpg')">
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Talent Management Team</h2>
                <p class="lead">This website was made by students of the Cap department, in a course Team Project 2</p>
                <p class="mb-0 lead"> Their names: <br>Osama AbuReesh, Tareq Saymeh, Abdullah Othman<br><br> Hamza Sayeh, Ismail Dweikat,Izz Moqbel<br> 
                    Alaa Odeh,Dalia Khalili
                    , Batool Abu Samen<br><br>
                    Shaimaa Sleem, Bayan Abdel-Haq, Adullah Talahma
                    <br>
                    AbdulRahman Al-Jundi, Rahaf Abu Safen</p>
            </div>
        </div>
    </div>
</section>
<%- include('./footer.ejs'); %>