<footer>
    <div class="jumbotron jumbotron-fluid  p-4 mt-5 mb-0 body-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-light text-center footer-card-body">
                            <h5 class="card-title text-white display-4" style="font-size:30px">Talento</h5>
                        <p class="d-inline lead">Made by CAP Student © 2023<br>
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
                    <div class="card border-0">
                        <div class="card-body text-center footer-card-body">
                            <h5 class="card-title text-white display-4" style="font-size:30px">Contact</h5>
                            <a class="text-light d-block lead text-decoration-none" style="margin-left: -20px" ><i class="fa fa-phone mr-2"></i> +970(569)-503-222</a>
                            <a class="text-light d-block lead text-decoration-none"><i class="fa fa-envelope mr-2"></i>  talento.cap@info.com</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card border-0">
                        <div class="card-body text-center footer-card-body">
                        <h5 class="card-title text-white display-4" style="font-size:30px">Social Media</h5>
                                <a class="text-light " href="https://github.com/aux-sam/talent-management-t1"><i class="fab fa-github fa-fw fa-2x"></i></a>
                                <a class="text-light" href="https://facebook.com"><i class="fab fa-facebook fa-fw fa-2x"></i></a>
                                <a class="text-light" href="https://twitter.com"><i class="fab fa-twitter fa-fw fa-2x"></i></a>
                                <a class="text-light" href="https://linkedin.com/"><i class="fab fa-linkedin fa-fw fa-2x"></i></a>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</footer>